MP_CLIENT_ID=2092249111255898
MP_CLIENT_SECRET=RYEID21YvDSRsTyJHjxUWwTHAGnc2ewe
MP_REDIRECT_URI=https://bear-drive-go.base44.app/functions/driverPaymentsCallback
APP_PUBLIC_URL=APP_PUBLIC_URL=https://bear-drive-go.base44.app
MP_WEBHOOK_URL=https://bear-drive-go.base44.app/functions/mercadopagoWebhook
MP_WEBHOOK_SECRET=

MP_DAILY_CHARGE_ACCESS_TOKEN=APP_USR-2092249111255898-091208-1521bf556b31730e863e7e2254faf7f1-186164247
MP_DAILY_CHARGE_COLLECTOR_ID=

GOOGLE_ROUTES_API_KEY=

BEAR_ADMIN_CODE=9f73c2a645f34ecbb567bb08a358183e
GOOGLE_MAPS_API_KEY="AIzaSyDnmg-s8BWKhl8_gpIhw0MqkIwZ4qvfxHg"


VITE_BASE44_APP_ID="6aa1902bd90ac5b66092d80d"
VITE_BASE44_APP_BASE_URL="https://bear-drive-go.base44.app/*"
VITE_BASE44_FUNCTIONS_VERSION=
VITE_GOOGLE_MAPS_CLIENT_KEY="AIzaSyDnmg-s8BWKhl8_gpIhw0MqkIwZ4qvfxHg"

# SUPABASE - reservado para migración
VITE_SUPABASE_URL="https://etygzvkxexgjuawndltn.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_XEg7u0Lb4rsSBTTed6YJbw_IN_rFFcF"
